@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --lightHover: #fcf4ff;
  --darkHover: #2a004a;
  --darkTheme: #11001f;

  --fontOutfit: "Outfit", sans-serif;
  --fontOvo: "Ovo", serif;
}

* {
  font-family: Outfit;
}
